cloud_id                 = "234567890"
folder_id                = "345678904"
zone                     = "ru-central1-a"
image_id                 = "fd8l45jhe4nvt0ih7h2e"
subnet_id                = "e9bpem5kl1jn75hl9qgf"
platform_id              = "standard-v3"
type                     = "network-hdd"
size                     = "50"
service_account_key_file = "/home/alex/yandex-cloud/authorized_key1.json"
public_key_path          = "/home/alex/.ssh/id_rsa_yandex.pub"
#private_key              = "/home/alex/.ssh/id_rsa_yandex"
